#credentials, #done {
    display: none;
    padding: 30px;
    padding-top: 0;
}

#message {
    padding-top: 10px;
}

#not-credentials {
    padding: 30px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #555;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}